.nav {
    background-color: coral;
    color: #fff;
    font-family: 'Prosto One', sans-serif;
}

.jumbotron {
    background-color: beige;
}

.feature-pet img {
    height: 400px;
    width: 450px;
}

.featured {
    display: flex;
    align-items: center;
}